body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: black;
  background-color: rgb(241, 190, 198);
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 55px;
}
p {
  font-size: 30px;
}
